:root {
    --verde: #198754;
    --rojo: #dc3545;
    --curso: #FFC300;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.valid {
    border: 1px solid var(--verde) !important;
    caret-color: #000000;
}

.estudio-item {
    box-shadow: 0 8px 16px 0 rgba(172, 66, 66, 0.2);
}

.cert {
    color: var(--verde);
}

.curso {
    color: var(--curso);
}

.descripcion-item {
    text-align: left;
}

.descripcion-item h3 {
    margin-bottom: 2px;
}

.hpers {
    height: 155px;
}

.invalid {
    border: 1px solid var(--rojo) !important;
    caret-color: var(--rojo);
}

header {
    width: 100%;
    margin: 0;
    background-color: #001a33;
    top: 0px;
    height: auto;
    transition: ease-in .1s;
}

.footer {
    width: 100%;
    margin: 0;
    background-color: #001a33;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    height: auto;
    text-align: center;
}

.footer>p {
    text-align: center;
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

nav {
    width: 100%;
    text-align: center;
    height: auto;
    max-height: 45px;
    padding: 15px 0px;
    display: inline-block;
}

nav>a {
    color: aliceblue;
    font-size: 17px;
    text-decoration: none;
    margin-right: 17px;
}

nav>a:hover {
    color: #66b5ff;
    border-bottom: 2px solid white;
}

.active {
    transition: ease-out .1s;
    color: #66b5ff;
    border-bottom: 2px solid white;
}

.empleo {
    text-align: initial;
    word-break: keep-all;
}

main {
    height: auto;
    margin-top: 0px;
    color: black;
    padding: 9px;
}

.resultado {
    display: none;
    visibility: hidden;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 12px;
}

section {
    text-align: center;
}

.redes {
    position: fixed;
    left: 97%;
    top: 30%;
    right: 0;
    width: 19px;
}

.redes>a>img {
    height: 40px;
    width: 40px;
}

#boton_arriba {
    position: fixed;
    top: 85%;
    left: 97%;
    display: none;
    border-radius: 52%;
    cursor: pointer;
}

#boton_arriba>img {
    width: 40px;
    height: 38px;
    border-radius: 52%;
}

img {
    height: 100px;
    width: 100px;
}

.sinimg {
    height: auto !important;
    width: auto !important;
}

p {
    text-align: left;
    word-wrap: break-word;
}

h4 {
    margin-top: 5px !important;
}

#conocimiento {
    margin-bottom: 1%;
}

.tarjetas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.categoria {
    width: 100%;
}

.listas {
    padding-top: 10px;
}

.tarjetas>.categoria>.listas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.categoria>h3 {
    color: #001a33;
}

.bg {
    background-size: contain;
    height: 90px;
    width: 120px;
    background-repeat: no-repeat;
}

.bg-js {
    background-image: url('../img/javascript.png');
}

.bg-html {
    background-image: url('../img/html.png');
}

.bg-css {
    background-image: url('../img/css.png');
}

.bg-php {
    background-image: url('../img/php.png');
}

.bg-sql {
    background-image: url('../img/sql.png');
}

.bg-mysql {
    background-image: url('../img/mysql.png');
}

.bg-vue {
    background-image: url('../img/vuejs.png');
}

.bg-mongoose {
    background-image: url('../img/mongoose.png');
}

.bg-mongodb {
    background-image: url('../img/MongoDB.png');
}

.bg-nestjs {
    background-image: url('../img/nestjs.svg');
}

.bg-typeorm {
    background-image: url('../img/typeorm.png');
}

.bg-bootstrap {
    background-image: url('../img/bootstrap.png');
}

.bg-vuetify {
    background-image: url('../img/vuetify.svg');
}

.tarjeta {
    cursor: pointer;
    padding: 16px;
    transition: all 0.3s ease;
    width: auto;
    height: auto;
    border-radius: 17px;
}

.tarjeta.mongoose>img {
    height: 30px;
    width: 62px;
}

.mongoose {
    color: #800;
}

.tarjeta {
    box-shadow: 0 8px 16px 0 rgba(172, 66, 66, 0.2);
    background-color: white;
}

.proyecto,
.lista-estudios {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.proyectos {
    width: 260px;
    border-radius: 14px;
    cursor: pointer;
    padding: 10px;
}

.estudio-item {
    border-radius: 14px;
    cursor: pointer;
    padding: 9px;
    transition: all .3s ease;
}

.proyectos {
    box-shadow: 0 12px 18px 0 rgba(172, 66, 66, 0.2);
}

.realizado,
.desc_pro {
    margin-bottom: 0;
    padding: 1px 2px;
}

.realizado {
    text-align: left;
    border-radius: 14px;
}

.realizado>a {
    padding-left: 26px;
}

a {
    text-decoration: none;
    color: #66b5ff;
}

a:hover {
    color: black;
}

.section-competencias {
    padding-top: 14px;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(172, 66, 66, 0.2);
    background-color: white;
    border-radius: 17px;
    transition: all .3s ease;
    padding: 15px;
    width: 260px;
}

.section-competencias>.competencias {
    display: flex;
    justify-content: center;
}

.m-0 {
    margin: 0;
}

.competencia>.anexos>* {
    width: 100%;
    height: auto;
}

.competencia>.solucion {
    text-align: start;
}

.bg.bg-senasoft {
    width: 100%;
    height: 40px;
    background-image: url('../img/competencias/senasoft2023.png');
}

#estudio,
.tarjet {
    padding-top: 1vh;
    padding-bottom: 3vh;
    text-align: center;
}

.tarjet {
    border: 1px solid black;
    width: 35%;
    height: 95vh;
    margin: 0 auto;
    border-radius: 12px;
}

.tarjet>a>img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.enviarcorreo {
    width: 500px;
    background-color: white;
    padding-top: 16px;
    border-radius: 14px;
    margin-bottom: 40px;
}

.enviarcorreo>span {
    font-size: 22px;
    padding-left: 0;
}

.enviarcorreo>form {
    margin-top: 22px;
}

.input_cont {
    margin-bottom: 2rem;
    text-align: left;
}

.contenedor_input {
    position: relative;
    height: 48px;
}

.contenedor_entrada {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 80%;
    font-size: 1rem;
    border: 1px solid #DADCE0;
    border-radius: .5rem;
    padding: 1rem;
    background: none;
    z-index: 1;
    resize: none;
    outline: none;
    transition: .2s ease-in-out;
}

.contenedor_input>textarea {
    height: 120px;
    font-family: "Roboto", sans-serif;
}

.contenedor_label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: white;
    color: #80868B;
    font-size: 1rem;
    transition: 1s;
    pointer-events: none;
}

.contenedor_entrada:focus+.contenedor_label {
    top: -.52rem;
    left: .8rem;
    color: black;
    font-size: 17px;
    z-index: 10;
}

.contenedor_entrada:not(:placeholder-shown).contenedor_entrada:not(:focus)+.contenedor_label {
    top: -.52rem;
    left: .8rem;
    font-size: 17px;
    z-index: 10;
}

.contenedor_entrada:focus {
    border: 1px solid black;
}

.envio>input {
    cursor: pointer;
    background-color: black;
    border: none;
    width: 140px;
    height: 45px;
    color: white;
    margin-left: -61px;
    border-radius: 11px;
    font-size: 17px;
    outline: none;
}

.envio>input:hover,
.envio>input:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 3px 9px 20px 4px rgba(172, 66, 66, 0.2);
}

#contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.sticky {
    position: sticky;
    z-index: 9999;
    transition: ease-in-out .1s;
}

.lista_sobre_mi {
    padding: 1px 19px;
    display: flex;
    flex-direction: column;
}

@media (min-width:601px)and (max-width:810px) {
    .tarjet {
        width: 55%;
    }
    .redes {
        left: 93%;
        z-index: 9999;
    }
    #boton_arriba {
        left: 93vw;
        z-index: 9999;
    }
    .proyectos {
        width: 245px;
        justify-content: center;
        margin-bottom: 14px;
    }
}

@media (min-width:301px)and (max-width:600px) {
    .envio>input {
        margin-top: 8px;
    }
    .estudio-item {
        margin-bottom: 4%;
    }
    .proyectos {
        margin: 0 auto;
        margin-bottom: 4%;
    }
    .proyecto {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
    }
    .tarjet {
        width: 80%;
        height: 45%;
    }
    .enviarcorreo {
        width: 80%;
    }
    .enviarcorreo>form {
        width: 100%;
        margin: 0 auto;
        margin-top: 18px;
    }
    .redes {
        left: 89%;
        z-index: 9999;
        right: 10px;
        display: inline-block;
    }
    .redes>a>img {
        height: 100%;
        width: 180%;
        margin-right: 200px;
        padding-right: 100px;
    }
    span {
        font-size: 15px;
    }
    .resultado {
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 14px;
    }
    #boton_arriba {
        left: 89vw;
        z-index: 9999;
    }
    #boton_arriba>img {
        height: 36px;
        width: 36px;
    }
}

@media(max-width:300px) {
    .proyectos {
        margin: 0 auto;
        margin-bottom: 35px;
        width: 89%;
        word-break: break-all;
    }
    .proyecto {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
    }
    nav {
        padding-bottom: 29px;
        padding-top: 4px;
    }
    .resultado {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
        line-height: 9px;
    }
    span {
        font-size: 12px;
        text-align: center;
        word-wrap: break-word;
    }
    .realizado {
        padding: 0;
        width: 98%;
        margin: 0 auto;
    }
    .realizado>a>img {
        margin: 0 auto;
        display: list-item;
    }
    .tarjet {
        width: 98%;
        padding: 0;
        margin: 0 auto;
        height: 47%;
    }
    .enviarcorreo {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    .envio>input {
        margin-top: 10px;
        margin-left: 0;
    }
    .redes {
        left: 84%;
        z-index: 9999;
    }
    .redes>a>img {
        height: 28px;
        width: 28px;
    }
    h2 {
        word-break: break-all;
        word-wrap: break-word;
    }
    #boton_arriba {
        left: 84%;
        z-index: 9999;
    }
    #boton_arriba>img {
        height: 28px;
        width: 28px;
    }
}